---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInd from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Formation from "../components/Formation.astro";
import BooksIcon from "../components/icons/BooksIcon.astro"
import Footer from "../components/Footer.astro"
---

<Layout
  title="Porfolio de Davier - Desarrollador y Programador Web"
  description=""
>
  <main class="px-4">
    <SectionContainer class="py-24 pb-24">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex justify-center flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Davier <a
          href="https://www.linkedin.com/in/davierdev/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-90 text-wrap max-w-[700px]">
        <span>Estudiante de Desarrollo de Software</span>
        <span class="text-violet-500">de Lima, Perú</span>
        <span class="opacity-90"
          >Con gran capacidad de adaptación a todo tipo de proyecto</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/davierdev/">
          <LinkedInd class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/DavierAL">
          <GitHub class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://www.linkedin.com/in/davierdev/">
          <Mail class="size-4 md:size-6" />
          davierlopez18dl@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="formation">
      <h2 class="text-2xl font-semibold mb-4 flex gap-x-3 items-center">
        <BooksIcon class="size-7"/>
        Formación
      </h2>
      <Formation>

      </Formation>
    </SectionContainer>

  </main>
</Layout>
