<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#formation">Formación</a>
        <a href="#linkedInd">LinkedInd</a>
        <a href="#CV">CV</a>
        <a href="#Contacto">Contacto</a>
    </nav>
</header>